/*
 * Customized bootstrap styles
 */

// Core variables and mixins
@import "variables";
@import "mixins";

/* General layout */

main {
  padding-top: 25px;
  padding-bottom: 25px;
}

.action-links {
    padding-top: 10px;
    padding-bottom: 15px;
}

/* Forms */

.form-group small {
  font-size: 0.7em;
}

.form-control-message {
  display: block;
}

.has-danger .form-control-message {
  color: $brand-danger;
}

.has-warning .form-control-message {
  color: $brand-warning;
}

.has-success .form-control-message {
  color: $brand-success;
}
