<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:task="http://www.springframework.org/schema/task"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/context  
        http://www.springframework.org/schema/context/spring-context.xsd 
        http://www.springframework.org/schema/task
        http://www.springframework.org/schema/task/spring-task.xsd ">
 
	<context:component-scan base-package="org.earelin.ecclesia.service,org.earelin.ecclesia.repository,org.earelin.ecclesia.security" />
  
  <task:executor id="myexecutor" pool-size="5" />
  <task:annotation-driven executor="myexecutor" />
  
  <bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource">
    <property name="driverClassName" value="org.h2.Driver" />
		<property name="url" value="jdbc:h2:mem:dataSource" />
		<property name="username" value="sa" />
		<property name="password" value="" />
  </bean>
  
  <bean id="sessionFactory"
      class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
    <property name="dataSource" ref="dataSource" />
    <property name="hibernateProperties">
      <value>
          hibernate.dialect=org.hibernate.dialect.H2Dialect
          hibernate.hbm2ddl.auto=create-drop
          hibernate.show_sql=true
          hibernate.format_sql=true
      </value>
    </property>
    <property name="packagesToScan" value="org.earelin.ecclesia.domain" />
  </bean>
  
  <tx:annotation-driven />
  
  <bean id="fileService" class="org.earelin.ecclesia.service.impl.resource.FileServiceImpl">
    <constructor-arg value="/tmp/ecclesia_folder/private" />
		<constructor-arg value="/tmp/ecclesia_folder/public" />
    <constructor-arg value="http://localhost:8080/ecclesia/cdn" />
    <constructor-arg ref="tika" />
  </bean>
  
  <bean id="tika" class="org.apache.tika.Tika" />
  
  <bean id="transactionManager"
      class="org.springframework.orm.hibernate4.HibernateTransactionManager">
    <property name="sessionFactory" ref="sessionFactory" />
  </bean>
  
  <bean id="org.dozer.Mapper" class="org.dozer.DozerBeanMapper" />
  
  <import resource="spring-test-security-config.xml" />

</beans>
