<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/public-layout">

  <head>
    <title>Ecclesia</title>
  </head>

  <body>      
    <main class="container" layout:fragment="content">
      <h1>Organizations</h1>
      <h2>Add organization</h2>
      <form action="#" th:action="@{/admin/organizations/add}" th:object="${organizationForm}" method="POST">
        <div class="form-group row">
          <button type="submit" class="btn btn-primary">Save</button>
          <a th:href="@{/admin/organizations}" class="btn btn-danger">Cancel</a>
        </div>
      </form>
    </main>
  </body>

</html>
