<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/public-layout">

  <head>
    <title>Ecclesia</title>
  </head>

  <body>      
    <main class="container" layout:fragment="content">
      <div class="col-sm-4">
        <form action="#" th:action="@{/register}" th:object="${registerForm}" method="POST">
          <fieldset class="form-group" th:class="'form-group' + (${#fields.hasErrors('username')}? ' has-danger' : '')">
            <input type="text" class="form-control"
                   th:errorclass="form-control-danger"
                   th:field="*{username}" placeholder="Pick a username" />
            <small class="form-control-message" th:each="err : ${#fields.errors('username')}" th:text="${err}" />
          </fieldset>
          <fieldset class="form-group" th:class="'form-group' + (${#fields.hasErrors('email')}? ' has-danger' : '')">
            <input type="email" class="form-control"
                   th:errorclass="form-control-danger"
                   th:field="*{email}" placeholder="Your email address" />
            <small class="form-control-message" th:each="err : ${#fields.errors('email')}" th:text="${err}" />
          </fieldset>
          <fieldset class="form-group" th:class="'form-group' + (${#fields.hasErrors('password')}? ' has-danger' : '')">
            <input type="password" class="form-control"
                   th:errorclass="form-control-danger"
                   th:field="*{password}" placeholder="Create a password" />
            <small class="form-control-message" th:each="err : ${#fields.errors('password')}" th:text="${err}" />
            <small class="text-muted"> Use at least one letter, one numeral, and seven characters.</small>
          </fieldset>
          <fieldset class="form-group text-sm-center">
            <button type="submit" class="btn btn-primary">Sing up for Ecclesia</button>
          </fieldset>
        </form>
      </div>
    </main>
  </body>

</html>
