<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/admin-layout">

  <head>
    <title>Ecclesia</title>
  </head>

  <body>      
    <main class="container" layout:fragment="content">
      <h1>Users</h1>
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Created</th>
            <th>Last login</th>
            <th>Roles</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody class=".table-striped">
          <tr th:each="user : ${users}">
            <td th:text="${user.username}">Username</td>
            <td th:text="${user.email}">Username</td>
            <td th:text="${user.created}">Username</td>
            <td th:text="${user.lastLogin}">Username</td>
            <td th:text="${user.systemRoles}">Username</td>
            <td th:text="${user.enabled}">True</td>
          </tr>
        </tbody>
      </table>
    </main>
  </body>

</html>
